# This is a template file.
# Recommended: COPY this file to 'application-secrets.properties' and fill in your credentials. This ensures the template is preserved. (Alternatively, you can rename it.)

# Production Database Credentials
spring.datasource.url=jdbc:postgresql://your-db-host:port/your-db-name
spring.datasource.username=your-secret-username
spring.datasource.password=your-secret-password

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update

# Default passwords for auto-created users
default.admin.password=adminPassword
default.user.password=userPassword

# Production Application Secrets
spring.app.jwtSecret=your-very-long-and-random-jwt-secret-key